
.container{
    width: 1100px;
    margin: 0 auto;
}
.home{
	height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background.jpg') center center/cover no-repeat;

   
    
}
.menu{
    margin: 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 40px 20px 0 600px;
}
.menu_item{
    color: white;
    cursor: pointer;
}
li:hover{
    color: yellow;
}
    

.header{
    padding-top: 70px;
    width: 300px;
    color: white;
}
.subheader{
    margin-top: 20px;
    width: 300px;
    color: white;
}
.start{
    margin-top: 20px;
    background-color: rgb(243, 243, 127) ; 
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: green;
}
.sport{
    padding: 70px 0 70px 0;
}
.sport_about{
    display: flex;
    justify-content: space-between;
}
.about_block{
    width: 350px;
}
.more{
    width: 150px;
    height: 45px;
    margin-top: 40px;
    background-color: white;
}
.webdev{
    background-color:rgb(49, 49, 49);
    padding:70px 0 70px 0;
}
.img_about{
    width: 450px;
    height: 300px;
}
.about_header_w{
    color: white;
}
.text_w{
    color: white;
}
.photos{
    padding: 70px 0 70px 0;
}
.about_header_c{
    text-align: center;
}
.photos_wrapper{
    margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(3, 350px);
    grid-template-rows: repeat(2, 200px);
    column-gap: 30px;
    row-gap: 30px;
}
.item_img{
    width: 350px;
    height: 200px;
}
.contact_info{
    padding: 70px 0 70px 0;
    background-color: gray;
}
.row{
    display: flex;
    justify-content: space-between;
}
.info_block{
    width: 400px;
}
.drscr{
    margin-top: 50px;
}
.phone{
    text-decoration: none;
    color: white;
}
footer{
    padding: 50px 0 50px 0;
    background-color: rgb(58, 59, 59);
}
.footer_warpper{
    display: flex;
    justify-content: space-between;
}
.text_footer{
    width: 400px;
    color: white;
}
.socialnet{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 35px;
    height: 35px;
    padding-left: 15px;
}


